section{
  display: flex;
  flex-wrap: wrap;
}
#a{
  height: 75px;
  line-height: 75px;
}
#b{
  height: 150px;
  line-height: 150px;
}
#c, #d{
  height: 125px;
  line-height: 125px;
}
#e, #f, #g, #h{
  flex-shrink: 0;
  height: 250px;
  line-height: 250px;
  width: 240px;
}
#i{
  height: 80px;
  line-height: 80px;
}