#a{
  background-color: red;
  }
  #b{
    background-color: blue;
  }
  #c{
    background-color: yellow;
  }
  #d{
    background-color: green;
  }
  #e{
    background-color: orange;
  }
  #f{
    background-color: purple;
  }
  #g{
    background-color: orangered;
  }
  #h{
    background-color: goldenrod;
  }
  #i{
    background-color: salmon;
  }
@media only screen and (min-width:500px){
  #a{
    background-color: blue;
    }
    #b{
      background-color: green;
    }
    #c{
      background-color: red;
    }
    #d{
      background-color: yellow;
    }
    #e{
      background-color: salmon;
    }
    #f{
      background-color: greenyellow;
    }
    #g{
      background-color: palegreen;
    }
    #h{
      background-color: aqua;
    }
    #i{
      background-color: #ff6600;
    }
}
@media only screen and (min-width:750px){
  #a{
    background-color: orangered;
    }
    #b{
      background-color: cornflowerblue;
    }
    #c{
      background-color: red;
    }
    #d{
      background-color: yellow;
    }
    #e{
      background-color: aqua;
    }
    #f{
      background-color: purple;
    }
    #g{
      background-color: salmon;
    }
    #h{
      background-color: green;
    }
    #i{
      background-color: blue;
    }
}