#a{
  background-color: red;
  }
  #b{
    background-color: blue;
  }
  #c{
    background-color: yellow;
  }
  #d{
    background-color: green;
  }
  #e{
    background-color: orange;
  }
  #f{
    background-color: purple;
  }
  #g{
    background-color: orangered;
  }
  #h{
    background-color: goldenrod;
  }
  #i{
    background-color: salmon;
  }
